proj1/1A/a.out
proj1/1A/proj1A_out.png
proj1/1A/proj1A_out.pnm
proj1/1B/a.out
proj1/1B/proj1B_out.png
proj1/1B/proj1B_out.pnm
proj1/1C/first20Tris
proj1/1C/proj1C_starter.c
proj1/1C/triangle_ids.txt
proj1/1C/tris.txt
proj1/1D/first10
proj1/1D/koch
proj1/1D/proj1D_out.png
proj1/1D/zrgb_info
proj1/1E/1E_debugging_output
proj1/1E/a.out
proj1/1E/counter
proj1/1E/proj1E_frame0000.png
proj1/1E/proj1E_frame0000.pnm
proj1/1E/proj1E_frame0000_debug.txt
proj1/1E/proj1E_frame0250.png
proj1/1E/proj1E_frame0250.pnm
proj1/1E/proj1E_frame0250_debug.txt
proj1/1E/proj1E_frame0500.png
proj1/1E/proj1E_frame0500.pnm
proj1/1E/proj1E_frame0500_debug.txt
proj1/1E/proj1E_frame0750.png
proj1/1E/proj1E_frame0750.pnm
proj1/1E/proj1E_frame0750_debug.txt
proj1/1E/proj1E_frame_0000.png
proj1/1F/a.out
proj1/1F/a.out.dSYM/
proj1/1F/counter
proj1/1F/counter.png
proj1/1F/differencer
proj1/1F/differencer.c
proj1/1F/differences.png
proj1/1F/differences.pnm
proj1/1F/frames/
proj1/1F/my_10.txt
proj1/1F/proj1F_frame0000.png
proj1/1F/proj1F_frame0000.pnm
proj1/1F/proj1F_soln.png
